.navBar{
    position: sticky;
    top:0px;
    /*justify-content: space-around;*/
    height:60px;
    background-color: #343a40; /*#17a2b8*/
    z-index:2;
    /*box-shadow: 0px 0px 0.4em black;*/
}

.navBarOptions{
    margin-left: 100px;
    display:flex;
}
.navBarLinks{
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    color:white;
    margin-left: 70px;
    margin-top:18px;
    padding-bottom:6px; 
}
.navBarOptionshighlighted{
    color:	#FF3131;
    border-bottom: 3px solid #FF3131;
}